// Breakpoints
$bp1: 330px;
$bp2: 380px;
$bp3: 430px;
$bp4: 480px;
$bp5: 560px;
$bp6: 680px;
$bp7: 768px;

// Board Heights
$nav-bar-height: 64px;
$title-height-0: 56px;
$title-height-2: 74px;
$title-height-4: 100px;
$title-height-6: 119px;
$footer-height-0: 44.03px;
$footer-height-2: 47.25px;
$footer-height-3: 52.5px;
