// Breakpoints
$bp1: 330px;
$bp2: 380px;
$bp3: 430px;
$bp4: 480px;
$bp5: 560px;
$bp6: 680px;
$bp7: 768px;

// Board Heights
$nav-bar-height: 64px;
$title-height-0: 56px;
$title-height-2: 74px;
$title-height-4: 100px;
$title-height-6: 119px;
$footer-height-0: 44.03px;
$footer-height-2: 47.25px;
$footer-height-3: 52.5px;

// Dark
$background1: #202020;
$background2: #2e2e2e;
$background3: #1f1f1f;
$text-basic: #fff;
$text-basic2: #ddd;
$text-basic3: #bbb;
$b-background: hsl(0, 100%, 25%);
$i-background: hsl(36, 100%, 25%);
$n-background: hsl(89, 59, 25);
$g-background: hsl(213, 60, 25);
$o-background: hsl(327, 90, 25);
$board-action: hsla(0, 50%, 15%, 1);
$menu-background: hsl(319, 100%, 25%);
$navbar-background: hsla(0, 0%, 15%, 1);
$cancel: hsl(0, 100, 25);
$confirm: hsl(89, 50, 25);
$copy: hsl(231, 60, 25);
